  	<div class="lonely">
		<article>
			<img ng-src="{{chosenPost.image}}">
			<input type="text" ng-model="chosenPost.title" disabled class="form-control">
			<div class="info">
				<span>{{chosenPost.date | date}}</span>
				<a href="#/authors">by {{chosenPost.author}}</a>
			</div>
			<textarea disabled ng-model="chosenPost.text" class="form-control"></textarea>
			<input type="file" image>
			<input type="text" ng-model="chosenPost.image" placeholder="Image URL" class="form-control">
			<button class="btn btn-default" type="button" ng-click="editPost()">Edit</button>
			<button class="btn btn-default" type="button" ng-click="updatePost()">Save</button>
		</article>
	</div>